opencv/baseball_images*
*.zip
env
camera_calibration/*.jpg
camera_calibration/*images

stereo_calibration/practice_img
stereo_calibration/my_image_calibration
stereo_calibration/output_path
stereo_calibration/braden_image_calibration
stereo_calibration/*png
stereo_calibration/*pdf

trajectory/ball_images
trajectory/out_ball_images

time_to_impact/images
time_to_impact/output*
